[project]
name = "web-archiver"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beautifulsoup4>=4.12.0",
    "requests>=2.31.0",
    "termcolor>=3.3.0",
]
